<a href="https://colab.research.google.com/github/manishshuklaDS007/manishshuklaDS007/blob/main/Membership_operators_in_Python_by_Manish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Membership Operators

Operator	Description
                            						                                                      Example

inÂ 		    Returns True if a sequence with the specified value is present in the object		    x in y
not in		Returns True if a sequence with the specified value is not present in the object	  x not in y

'''

In [3]:
a=[1,4,8,0]
print(1 in a)
print(10 not in a)

True
True

In [4]:
b=['Mango', 'Orange']
print('Mango' in b)
print('Apple' not in b)

True
True

In [6]:
c=['a','b','c','d','e']
print('g' in c)
print('h' not in c)

False
True